@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
	.collaborationsa {
	grid-column-start:1;
	grid-column-end:5;
	padding:10px 10px;
	}
	.collaborationsb {
		grid-column-start:1;
		grid-column-end:5;
		padding:10px 10px;
	}
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 576px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
	  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

