@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
	.a {
	grid-column-start:1;
	grid-column-end:5;
	padding:10px 10px;
	}
	.b {
		grid-column-start:1;
		grid-column-end:5;
		padding:10px 10px;
	}
	#xd {
	top: 30%;
	left: 25%;
	z-index: 1;
	position: absolute;
	font-size:90px;
	  -webkit-text-stroke: 2px black;
	color: transparent; 
	text-shadow: 0.1em 0.1em 0.2em white;
	}
}

@media only screen and (max-width: 768px) {
	#xd {
	top: 25%;
	left: 15%;
	z-index: 1;
	position: absolute;
	font-size:80px;
	  -webkit-text-stroke: 2px black;
	color: transparent; 
	text-shadow: 0.1em 0.1em 0.2em white;
	}
}

@media only screen and (max-width: 576px) {
	#xd {
	top: 10%;
	left: 10%;
	z-index: 1;
	position: absolute;
	font-size:70px;
	  -webkit-text-stroke: 2px black;
	color: transparent; 
	text-shadow: 0.1em 0.1em 0.2em white;
	}
	
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
	  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .loader {
	position: absolute;
	top: 40%;
	left:39%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
}

